@import url('https://fonts.googleapis.com/css?family=Playfair+Display:1,300,400,400italic,500,700,700italic,900');
@font-face {
    font-family: "Vibes"; 
    src: url("media/Good Vibes Pro.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 

    font-family: "glimmer"; 
    src: url("media/glimmer of light.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 


:root {

    --main-color:#ead2a8;
    --primary-color: #8a6d46;
    --hover: #5a4d3e;
    --black:#2a201c;
    --white:#fff;
    --light-bg:#f3efec;
    --dark-bg:rgba(0,0,0,.7);
    --border:.1rem solid #aaa;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
   font-family: 'Playfair Display', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
}
 

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    
}
 
html::-webkit-scrollbar {
    width: .6rem;
}
 
html::-webkit-scrollbar-track {
    background-color: var(--white);
}
 
html::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

img {
  display: flex;
  width: 100%;
}

h2 {
    font-family: "Vibes"; 
}

hr {
    border: none;
    height: 3px;
    background: #EAD2A8;
    background: linear-gradient(90deg,rgba(234, 210, 168, 1) 0%, rgba(234, 210, 168, 1) 42%, rgba(247, 247, 233, 0) 93%);
}
 
section {
    padding: 5rem 7%;
}

.heading {
   text-align: center;
   color:var(--primary-color);
   text-transform: capitalize;
   margin-bottom: 3rem;
   font-size: 4rem;
   margin-top: 4rem;
}

/* header */

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top:0; left:0; right: 0;
    background: var(--main-color);
    z-index: 1000;
}
 
.header .logo {
    font-size: 2rem;
    font-weight: bolder;
    color:var(--black);
    text-transform: capitalize;
    font-family: "glimmer"; 
}

.header .navbar #close-navbar {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: var(--black);
    display: none;
  }
 
.header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color:var(--black);
    text-transform: capitalize;
}
 
.header .navbar a:hover {
    padding-bottom: 0.5rem;
    color:var(--primary-color);
 }
 
 #menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--black);
    display: none;
 }

 /* header */

 /* home */

.btn {
    position: relative;
    right: 0px;
    margin-top: 2rem;
    display: inline-block;
    background: var(--primary-color);
    color:var(--white);
    font-size: 3rem;
    cursor: pointer;
    padding: 2rem 5rem;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    box-shadow: #000000 4px 4px 0 0;
}

/* .btn {
    background-color: #fbeee0;
    border: 2px solid #422800;
    
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
} */




 
.btn:hover {
    color: #000000;
    background: linear-gradient(10deg, #a67e00 0%, #f5ae4c 50%, #a67e00 100%);
}

.l-main {
  height: calc(100vh - 3rem);
  /* background-color: #0d51e2; */

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

@media screen and (min-width: 801px) {

  .l-main {
    height: 100vh;
  }

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background: url('media/KM bg.png') no-repeat; */
    background-size: cover;
    background-position: center;
    
}

.home-content {
    position: absolute;
    left: 10%;
    bottom: 10%;
    font-size: 3rem;
    font-style: italic;
    color: var(--primary-color);
}

.home-content h2 {
    color: #000000;
}

.home .content {
    max-width: 120rem;
}

.home .content span {
    font-size: 3rem;
    /* letter-spacing: .5rem; */
    /* padding-bottom: .5rem; */
    color: var(--primary-color);
    /* text-transform: uppercase; */
 }

.home .content h2 {
    color: var(--black);
    font-size: 8rem; 
    line-height: 12rem; 
    font-weight: 900;
}

.content {
    padding: 7rem;
}

.main-logo {
    position: absolute;
    width: 80vmin;
    height: 80vmin;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    background: url("media/KM.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0%;
    left: 0; 
    right: 0; 
    margin: 0 auto;
    overflow: hidden;

}

.bd-grid {
    background: url("media/KMbg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

}


 /* home */

/* about */

/* .about-section {
    width: 100%;
    background: url("media/KM bg.png");
    display: flex;   
    align-items: center;
    margin: 20px 0;
    
}
.about-section img {
    border: 20px solid rgba(221, 220, 181, 0.8);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
    margin: 40px;
    box-sizing: border-box;
    flex: 0 0 45%;
    width: 45%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.about-section .img-data {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    padding: 20px;
}
@media only screen and (max-width: 700px) {
    .about-section {
        flex-flow: row wrap;
    }
    .about-section .img-data {
        background: #FFF;
        border-bottom: 8px solid #337AB7;
    }
    .about-section img {
        margin: 40px auto;
        flex: 0 0 80%;
        width: 80%;
    }
} */

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 0;
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.container__left {
    padding-inline: 1rem;
    text-align: center;
}

.container__left h1 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: #8a6d46;
}

.container__left .btn {
    padding: 1rem 2rem;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--text-dark);
    border-radius: 5rem;
}

.container__left .btn:hover {
    color: var(--text-dark);
    background-color: var(--primary-color);
}

.container__right {
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
}

.container__right::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transform-origin: left;
    height: 80%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    z-index: -1;

    animation: show 0.75s 1.25s ease-in-out forwards;
}

@keyframes show {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 2rem);
  }
}

/* .imgs {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}

.tent-1 {
    max-width: 300px;
    transform: translateX(1rem);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.tent-2 {
    max-width: 180px;
    transform: translateX(-2rem);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
} */

.imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
}

.tent-1 {
    max-width: 300px;
    width: 100%; 
    height: auto; 
    transform: translateX(1rem);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.tent-2 {
    max-width: 180px;
    width: 100%;
    height: auto;
    transform: translateX(-2rem);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 2;
}


@media (max-width: 576px) {
    .tent-1 {
        max-width: 180px;        
        transform: translateX(0.5rem); 
    }

    .tent-2 {
        max-width: 110px;
        transform: translateX(-1rem);
    }
}

.content-about {
  padding-block: 0 5rem;
  padding-inline: 2rem;
  text-align: center;
}

.content-about h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.content-about h2 {
  margin-bottom: 0.5rem;
  font-family: "glimmer";
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--text-dark);
}

.content-about h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.content-about p {
  /* line-height: 1.75rem; */
  color: #fff;
  font-size: 17px;
  font-style: italic;
  font-family: "Vibes"; 
}

@media (width > 768px) {
  .container {
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding: 2rem 0;
  }

  .container__left {
    text-align: left;
  }
}

@media (width > 1024px) {
  .container__right {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .container__right::before {
    bottom: unset;
    top: 0;
    height: 90%;
  }

  .imgs {
    flex-direction: column;
  }

  .tent-1 {
    width: calc(100% + 10rem);
    max-width: 325px;
    transform: translate(-2rem, 2rem);
  }

  .tent-2 {
    max-width: 200px;
    transform: translate(4rem, -1rem);
  }

  .content-about {
    padding-block: 5rem;
    text-align: left;
    max-width: 400px;
    margin-inline-start: unset;
  }
}

.about {
    /* background-image: url('media/soft-bg.png'); */
    background-color: #f5f0e7;
    
}

.about__image {
  position: relative;
  isolation: isolate;
}

.about__image::before {
    position: absolute;
    content: "";
    top: -5rem;
    left: 5rem;
    height: 100%;
    width: 100vw;
    background: linear-gradient(10deg, #a67e00 0%, #f5ae4c 50%, #a67e00 100%);
    z-index: -1;
}

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    display: flex;   
    align-items: center;
    margin: 20px 0;
    background: url("media/KM bg.png");
    padding: 2rem;
}

.about .row .image-about {
    flex: 1 1 39rem;
    background: linear-gradient(10deg, #a67e00 0%, #f5ae4c 50%, #a67e00 100%);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.about .row .image-about img {
    width: 100%;
    padding: 1rem;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    
}

.about .row .content {
    flex:1 1 51rem;
    padding: 5rem;
    
}

.about .row .content h4 {
    font-size: 2rem;
    color :var(--primary-color);
}

.about .row .content p {
    font-size: 2.5rem;
    font-style: italic;
    color: #ffffff;
    padding: 1rem 0;
    line-height: 1.8;
}

.about .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
    
 }
 
 .about .content .icons-container .icons {
    flex: 1 1 16rem;
    text-align: center;
    background: var(--light-bg);
    padding: 3rem 2rem;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
 }
 
 .about .content .icons-container .icons img {
    height: 5rem;
}
 
.about .content .icons-container .icons h3 {
    padding-top: 1rem;
    font-size: 1.6rem;
    color: #444;
    font-weight: normal;
    text-transform: capitalize;
    font-style: italic;
 }

/* about */


/* services */

.services {
    background-color: var(--main-color);
 }

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    
 }
 
 .services .box-container .box {
    height: 100%;
    position: relative;
    overflow: hidden;background: linear-gradient(10deg, #a67e00 0%, #f5ae4c 50%, #a67e00 100%);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
 }

 .services .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background: linear-gradient(10deg, #a67e00 0%, #f5ae4c 50%, #a67e00 100%);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
 }
 
 .services .box-container .box:hover img {
    transform: scale(1.1);
 }
 
 .services .box-container .box .content {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left:0;
    z-index: 10;
    height: 100%;
    width: 100%;
    /* background: var(--dark-bg); */
 }
 
 .services .box-container .box .content h3 {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    color: var(--white);
    padding-top: 40rem;
    text-transform: capitalize;
 }

 .services .box-container .box:hover .content {
    display: flex;
 }


 /* services */

/* styles */

.styles {
    background: var(--light-bg);
}
 
.styles .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
 
.styles .box-container .box .image {
    overflow: hidden;
    width: 100%;
    text-align: center;
}
 
.styles .box-container .box .image img {
    object-fit: cover;
}

.image img {
    max-width: 160px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    
}
 
.styles .box-container .box .content {
    text-align: center;
}
 
.styles .box-container .box .content .title {
    font-size: 2.5rem;
    color: var(--primary-color);
    text-transform: capitalize;
}
 
.styles .box-container .box .content p {
    font-size: 1.6rem;
    font-style: italic;
    line-height: 1.8;
    color :#444;
    padding: 1rem 0;
}

/* styles */

/* pricing */

.pricing {
    background: url('media/bg-price.png');
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
}

.pricing .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing .box-container .box {
    height: 500px;
    width: 300px;
    margin: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,.9);
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* background: var(--primary-color); */
}

#female {
    background-image: url(media/female.png);
}
#male {
    background-image: url(media/male.png);
}

/* .pricing .box-container .box::before,
.pricing .box-container .box:after {
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    opacity: .5;
} */

/* .pricing .box-container .box::before {
    background: var(--light-bg);
    top: -10%; left: 80%;
} */

/* .pricing .box-container .box::after {
    background: var(--main-color);
    bottom: -10%; right: 80%;
} */

.pricing h3 {
    position: relative;
    color: #000000;
    font-style: italic;
    background: #D2C0AA70;
    padding: 1rem;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.pricing .box-container .box .title {
    position: relative;
    margin: 30px;
    font-size: 26px;
    /* color: var(--main-color); */
    /* text-transform: capitalize; */
}

.pricing .box-container .box .price {
    position: absolute;
    right: 10%;
    bottom: 10%;
    /* height: 160px;
    width: 160px; */
    color: var(--white);
    /* background: var(--main-color);
    padding: 57px 0 0;
    margin: 0 auto 25px;
    border-radius: 50%; */
}

.pricing .box-container .box .price .currency {
    font-size: 35px;
    line-height: 35px;
    font-weight: 300;
}

.pricing .box-container .box .price .amount {
    font-size: 58px;
    line-height: 45px;
    font-weight: 700;
}

.pricing .box-container .box ul li {
    text-align: left;
    font-size: 20px;
    font-style: italic;
    padding-left: 45px;
    margin: 20px auto;
    color: var(--white);
    list-style: none;
    
}

.pricing .box-container .box ul li i {
    color: var(--main-color);
    padding: 0 10px;
}

.pricing .box-container .box button {
    position: absolute;
    bottom: 5%;
    right: 7%;
    height: 40px;
    width: 140px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
    background: none;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    transition: .2s linear;
}

.pricing .box-container .box button:hover {
    color: #000000;
    background: linear-gradient(10deg, #a67e00 0%, #f5ae4c 50%, #a67e00 100%);
    border: 2px solid #000000;
}


/* pricing */

/* blog */

/* .blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

.blogs .box-container .box {
    background: var(--primary-color);
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--white);
}

.blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}

.blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.blogs .box-container .box .content p {
    font-size: 1.6rem;
    font-style: italic;
    line-height: 1.8;
    color: var(--white);
    padding: 1rem 0;
} */

/* blog */

/* FAQ */

.details__faq {
    padding: 0 32px;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 60px;
    text-align: center;
    
    
}

.details {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 2rem auto;
    background: rgba(226, 200, 160);
    border-radius: 5px;
    transition: 0.3s;
    overflow: hidden;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.details::after {
    position: absolute;
    right: 24px;
    top: 15px;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: .3s;
}

.details[open]::after {
    transform: rotate(45deg);
}

.details[open] {
    padding-bottom: 100px;
}

.details[open] .details__title {
    margin-bottom: 32px;
}

.details__title {
    background: rgba(226, 200, 160);
    border-radius: 5px;
    padding: 12px 30px;
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
    list-style: none;
    font-weight: 700;
    transition: .3s;
}

.details__title::-webkit-details-marker {
    display: none;
}

.details__content {
    padding: 0 32px;
    font-size: 18px;
    font-style: italic;
    margin-bottom: -60px;
}

.details__content p:last-child {
    margin-bottom: 0;
}
.details__content p:first-child {
    margin-top: 0;
}

/* FAQ */


/* visit */

.visit {
    background: url('media/visit.png');
    background-size: cover;
    background-position: center;
}

.visit .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
}

.visit .row .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
}

.visit .row .image img {
    width: 100%;
}

.visit .row form {
    flex: 1 1 40rem;
    border: 0.1rem solid var(--main-color);
    padding: 2rem;
}

.visit .row form h3 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--main-color);
    padding-bottom: 1rem;
    
}

.visit .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--main-color);
    border: var(--border);
}

.visit .row form .inputBox input {
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color: var(--white);
    text-transform: none;
    background: none;
}

/* visit */

/* contact */

.contact {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* margin: 4rem; */
    /* max-width: 1200px; */
    background-color: #c09d70;
}

@media only screen and (max-width: 500px) {
  .contact {
    margin: 0 1rem 0 1rem;
  }
}

::-webkit-input-placeholder {font-size: 16px; color: rgb(75, 75, 75);
  opacity: 1;}
::-moz-placeholder {font-size: 16px; color: rgb(75, 75, 75);
  opacity: 1;}         
:-moz-placeholder {font-size: 16px; color: rgb(75, 75, 75);
  opacity: 1;}
:-ms-input-placeholder {font-size: 16px;}
:focus::-webkit-input-placeholder {opacity: 0;}    
:focus::-moz-placeholder {opacity: 0;}    
:focus:-moz-placeholder {opacity: 0;}    
:focus:-ms-input-placeholder {opacity: 0;}    
.form-at {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box; 
    overflow: hidden;
    font-size: 0;  
    letter-spacing: 0;    
  
}

.form-at * {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;    
}

.validate-input-at,
.no-validate-input-at {
    width: 100%;
    position: relative;
    background-color: #eee6e6;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 20px;
}

.validate-input-at.w-50,
.no-validate-input-at.w-50 {
    width: calc(50% - 10px);
    display: inline-block;
}

.validate-input-at.w-50:first-child,
.no-validate-input-at.w-50:first-child {
    margin-right: 20px;
}

a {
    color: #fcd182;
    text-decoration: none;
}

.input-at {
    display: block;
    width: 100%;
    background: transparent;
    color: rgb(255, 255, 255);
}

input.input-at {
    height: 50px;
    padding: 0 20px 0 20px;
    font-size: 16px;
    font-style: italic;
    outline: none;
    border: none;  
}

textarea.input-at {
    min-height: 170px;
    padding: 18px 20px;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    outline: none;
    border: none;
    resize: none;
}

textarea.input-at:focus, 
input.input-at:focus {
    border-color: transparent;
}

.focus-input-at {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 2px solid #8a6d46;
    border-radius: 2px;
    visibility: hidden;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.input-at:focus + .focus-input-at {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.form-at-btn {
    position: relative;
    display: block;
    width: 20%;
    padding: 1rem;
    min-width: 200px;
    margin-left: auto; 
    margin-right: auto; 
    background: #8a6d46;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    transition: all 0.4s;
    outline: none;
    border: none;
    cursor: pointer;  
    border: 2px solid #ead2a8;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.form-at-btn:hover {
    background: linear-gradient(10deg, #a67e00 0%, #f5ae4c 50%, #a67e00 100%);
    color: #000000;
    border: 2px solid #000000;
}

.form-at-btn[disabled] {
    opacity: .6;
    cursor: not-allowed;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #999;
    border: 1px solid #c80000;
    border-radius: 4px;
    padding: 4px 35px 4px 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: '\f044';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: block;
    position: absolute;
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-weight: bold;    
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

.error-at {
    color: red;
    padding: 10px 0;
}

.success-at {
    color: #fcd182;
    font-size: 28px;
    padding: 20px 0;
    text-align: center;
}

.form-at input[type=checkbox] {
    display: none;
}

.form-at input[type=checkbox] + label {
    display: block;
    position: relative;
    margin: 0 0 20px 34px;
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
}

.form-at input[type=checkbox] + label:before {
    box-sizing: border-box;
    position: absolute;
    content: '';
    width: 26px;
    height: 26px;
    line-height: 22px;
    left: -34px;
    border: 2px solid #fcd182;
    border-radius: 2px;
}

.form-at input[type=checkbox]:checked + label:before{
    content: '\2714';
    color: #fcd182;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .validate-input-at.w-50 {
        width: 100%;
    }
    .validate-input-at.w-50:first-child {
        margin-right: 0;
    }
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}


/* review  */

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--black);
    padding: 2rem 0;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--primary-color);
}

/* review end */

/* footer */
.footer {
    background: var(--main-color);
    text-align: center;
  }
  
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: var(--primary-color);
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    font-size: 2rem;
    line-height: 2;
    color: var(--black);
    padding: 1rem 0;
  }
  
  .footer .box-container .box .share {
    margin-top: 1rem;
  }
  
  .footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: var(--white);
    margin-right: .3rem;
    text-align: center;
  }
  
  .footer .box-container .box .share a:hover {
    background-color: var(--black);
  }
  
  .footer .box-container .box .link {
    font-size: 2rem;
    line-height: 2;
    color: var(--primary-color);
    padding: .5rem 0;
    display: block;
    text-decoration: underline;
  }
  
  .footer .box-container .box .link:hover {
    color: var(--black);
    text-decoration: underline;
  }
  
  .footer .box-container .box .email {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    border: 0.1rem solid var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    border-top: 0.1rem solid var(--primary-color);
  }
  
  .footer .credit span {
    color: var(--primary-color);
  }


@media (max-width: 991px) {

    html {
        font-size: 55%;
     }

    .header .navbar a {
        font-size: 1.7rem;
    }
  
     section {
        padding: 3rem 2rem;
     }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

     .header .navbar {
        position: fixed;
        top: 0;
        right: -105%;
        width: 30rem;
        background: var(--white);
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 1200;
      }
      .header .navbar #close-navbar {
        display: block;
      }
      .header .navbar.active {
        right: 0;
      }
      
      .header .navbar a {
        display: block;
        margin: 1rem 0;
        text-align: center;
        font-size: 3rem;
      }

    .home .content h3 {
        font-size: 5.5rem;
    }


}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

}

.map-section {
    margin-top: 3rem;
    padding: 60px 0;
    
}

.map-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

.map-container {
    width: 100%;
    height: 450px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    display: block;
}

